@import "tailwindcss";
@import "tailwindcss-animated";


@theme {
  --color-red-primary: #c30201;
  --color-purple-primary: #8637b4;
  --color-background-primary: #0d060a;
}

html {
  scroll-padding-top: 5rem; 
}